.link {
  width: 140px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(7, 121, 193);
  display: flex;
  align-items: center;
  gap: 5px;
}

.link img {
  height: 20px;
  display: block;
}

.link a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 20px;
  display: block;

  padding: 5px 0px 0px 10px;
}
